<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PUBG</title>
</head>
<body>
    <h2>Predict Percent Chance of Winning on your PUBG Match</h2>

    <h3>Please enter match details in numerical form:</h3>
    <br>
    <form  METHOD="post" enctype="multipart/form-data" action="predictPlacement">
        {% csrf_token %}
        <div class="col-md-4 col-sm-4"><label for="fname">Assists:</label> </div><input name="assistsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Boosts:</label> </div><input name="boostsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">DBNO's:</label> </div><input name="DBNOsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Heals:</label> </div><input name="healsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Best Kill Streak:</label> </div><input name="killstreaksVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Longest Distance Kill:</label> </div><input name="distancekillVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Match Duration:</label> </div><input name="matchDurationVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Account Rank Points:</label> </div><input name="rankVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Revives Made:</label> </div><input name="revivesVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Distance on Vehicle:</label> </div><input name="rideDistanceVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Road Kills:</label> </div><input name="roadKillsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Distance Swam:</label> </div><input name="SwimVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Friendly Kills:</label> </div><input name="teamKillsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Number of Vehicles you Destroyed:</label> </div><input name="vehicleDestroysVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Distance Walked:</label> </div><input name="walkVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Number of Weapons Picked Up:</label> </div><input name="weaponsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Players in Match:</label> </div><input name="players_in_matchVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Players in Team:</label> </div><input name="players_in_teamVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Kills:</label> </div><input name="kills_in_matchVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Percentage of Total Kills Made by Team:</label> </div><input name="teamKVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Damage in Match:</label> </div><input name="damage_in_matchVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Team Damage in Match:</label> </div><input name="percent_team_damageVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Head Shot %:</label> </div><input name="headshot_rateVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Items Used:</label> </div><input name="itemsVal" type="text"><br><br>
        <div class="col-md-4 col-sm-4"><label for="fname">Match Type:</label> </div><select name="matchType" type="text"><option value="solo">Solo</option><option value="duo">Duo</option><option value="squad">Squad</option><br><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>